{
  "openapi": "3.0.3",
  "info": {
    "title": "KWIN City Spatial Intelligence & Land Valuation API",
    "description": "Read-only independent research context for KWIN City. It is not an authoritative government record or decision-making service.",
    "version": "1.0.0",
    "contact": {
      "name": "Aarti S Ravikumar & Baja Associates",
      "url": "https://kwin-city.com/",
      "email": "connect@hellokwincity.org"
    }
  },
  "servers": [
    {
      "url": "https://kwin-city.com/api",
      "description": "Primary Intelligence Server"
    }
  ],
  "paths": {
    "/masterplan": {
      "get": {
        "summary": "Get portal-reported masterplan context",
        "operationId": "getMasterplanSpecs",
        "responses": {
          "200": {
            "description": "Portal research context and primary-reference links."
          }
        }
      }
    },
    "/valuation": {
      "get": {
        "summary": "Get valuation-model context and limitations",
        "operationId": "getLandValuationModel",
        "parameters": [
          {
            "name": "district",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Knowledge & Academic Hub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A scenario-model summary, not a valuation or investment recommendation."
          }
        }
      }
    },
    "/regulatory": {
      "get": {
        "summary": "Get regulatory research context and authoritative source links",
        "operationId": "getRegulatorySteps",
        "responses": {
          "200": {
            "description": "Independent research context and links to the responsible authorities."
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Check public API availability",
        "operationId": "getHealth",
        "responses": { "200": { "description": "Service is available." } }
      }
    }
  }
}
